@use 'src/global/_variables.scss';

.more-button {
    background: variables.$third-color;
    border-radius: 50%;

    aspect-ratio: 1/1;

    width: 2.6rem;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
        font-size: 1.8rem;
    }
}
