@use 'src/global/_variables.scss';

.modal {
    background: variables.$secondary-color;
    box-shadow: 8px 8px 5px #00000026;
    border-radius: 15px;

    width: -moz-fit-content;
    width: fit-content;

    padding: 1.5rem;
}

.modal-container {
    background: #00000074;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .modal {
        max-width: 60vw;
        max-height: 80vh;
        overflow-y: auto;

        padding: 2.5rem 2rem;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        position: relative;

        .close-modal-button {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
        }

        .title {
            font-size: 2rem;
            font-weight: bold;
        }
    }
}