@use 'src/global/_variables.scss';

.episodes-section {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    .filters {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        .filter {
            background: variables.$third-color;
            border-radius: 20px;
            width: 100%;

            &.selected {
                button {
                    background: variables.$main-text-color;
                    border-radius: 20px;
                    color: variables.$black;
                }
            }

            button {
                font-size: 1.1rem;
                font-weight: bold;
                width: 100%;
                padding: 0.5rem;
            }
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        .episode-item {
            height: 6rem;

            a {
                text-decoration: none;
                display: flex;

                &:hover {
                    .episode {
                        .title {
                            text-decoration: underline;
                        }
                    }
                }

                &.selected {
                    background: blue;
                }

                .episode {
                    height: 60%;
                    display: flex;
                    gap: 0.5rem;

                    .episode-preview {
                        border-radius: 20px;
                        aspect-ratio: 16/9;
                        width: 10rem;
                        height: 100%;
                    }

                    .info-container {
                        .title {
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }

                        .creator {
                            color: variables.$secondary-text-color;
                        }
                    }
                }
            }
        }
    }
}
