@use 'src/global/_variables.scss';

.users-section {
    .list {
        .card-item {
            .card {
                .actions-container {
                    display: grid;
                    grid-template-columns: 3rem 3rem 1fr;
                    grid-template-areas: "delete modify suscription";
                    gap: .5rem;

                    .default-button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}