@use '../variables';

button {
    cursor: pointer;
    background: transparent;
    border: none;
}

.primary-button {
    background: variables.$main-text-color;
    border: 1px solid transparent;
    color: variables.$primary-background;
    border-radius: 5px;
    cursor: pointer;
    
    font-weight: 700;
    font-size: 1.05rem;

    padding: .7rem 3rem;
    transition: background .1s linear;

    &.loading {
        padding: 0 3rem;

        .loading-icon::after {
            width: 15px;
            height: 15px;
            border-color: variables.$primary-background transparent variables.$primary-background transparent;
        }

        &:hover, &:active {
            background: variables.$main-text-color;
            border: 1px solid transparent;
            color: variables.$primary-background;
        }
    }

    &:hover {
        background: variables.$primary-background;
        border: 1px solid variables.$main-text-color;
        color: variables.$main-text-color;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: .5;

        &:hover {
            background: variables.$main-text-color;
            color: variables.$primary-background;
        }
    }
}

.default-button {
    background: variables.$primary-background;
    color: variables.$main-text-color;
    font-weight: bold;
    border-radius: 5px;
    padding: .8rem 1.4rem;

    &.hover:hover {
        background: variables.$fifth-color;
    }
}

.secondary-button {
    background: transparent;
    padding: .8rem 2rem;

    &:hover {
        text-decoration: underline;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}