@use 'src/global/_variables.scss';

.user-course-section {
	display: flex;
	flex-direction: column;

	.title {
		padding: 1rem 0;
		color: variables.$main-text-color;
		font-weight: 500;
		font-size: 1.4rem;
		height: fit-content;
	}
}
