@use 'src/global/_variables.scss';

.test-response-form {
	display: grid;
	gap: 1rem;

	h3 {
		height: fit-content;
	}

	.send-test {
		width: 100%;
	}

	.question-list {
		height: 100%;
		display: grid;

		li {
			border: 1px solid transparent;
			height: fit-content;
			display: grid;
			gap: 0.5rem;
			border-radius: 10px;

			&.correct {
				border: 1px solid variables.$smooth-green;

				.checkbox label span {
					color: variables.$smooth-green;
				}
			}

			&.incorrect {
				border: 1px solid variables.$smooth-red;

				.checkbox label span {
					color: variables.$smooth-red;
				}
			}

			h3 {
				font-size: 1.5rem;
			}

			ul {
				display: grid;
				gap: 0.05rem;

				li {
					.checkbox {
						label .icon {
							width: 30px;
						}
					}
				}
			}
		}
	}
}
