@use 'src/global/_variables.scss';

.primary-navbar {
    padding: 1.5rem 2rem;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .actions-container {
            display: flex;
            gap: 1.5rem;
            align-items: center;

            .user-config-wrapper {
                display: flex;
                align-items: center;

                img {
                    width: 36px;
                    height: 36px;
                    aspect-ratio: 1/1;
                }
            }

            .routes-list {
                display: flex;
                gap: 1.8rem;

                .nav-route {
                    text-decoration: none;
                    font-family: variables.$secondary-font;
                    font-weight: bold;
                    color: variables.$main-text-color;
                    font-size: 1.05rem;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media (max-width: variables.$mobile-breakpoint) {
    .primary-navbar {
        ul {
            .logo-container {
                h1 {
                    display: none;
                }
            }
        }
    }
}