@use 'src/global/_variables.scss';
@use 'src/global/animations.scss';

.card-item {
	.card.preload {
		header {
			.info-container {
				padding: 0.5rem 0 0 0;

				.title {
					background: variables.$fourth-color;
					width: 100%;
					height: 2rem;
					margin: 0 0 1rem 0;
					position: relative;
					overflow: hidden;

					@include animations.preload();
				}

				.description {
					background: variables.$fourth-color;
					width: 50%;
					height: 1.2rem;
					position: relative;
					overflow: hidden;
					@include animations.preload();
				}
			}

			.img {
				background: variables.$fourth-color;
				border-radius: 50%;
				width: 50px;
				height: 50px;
				justify-self: end;
				aspect-ratio: 1/1;
				position: relative;
				overflow: hidden;
				@include animations.preload();
			}
		}

		.actions-container {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.default-button {
				padding: 1.35rem 3rem;
			}
		}
	}
}
