.creator-info {
    width: -moz-fit-content;
    width: fit-content;

    padding: .2rem 0;

    display: flex;
    align-items: center;
    gap: .5rem;

    img {
        aspect-ratio: 1/1;
        width: 30px;
        height: 30px;
    }

    h3 {
        font-size: 1rem;
    }
}