.test-header {
	display: grid;
	gap: 0.8rem;

	.title {
		display: flex;
		justify-content: space-between;

		h1 {
			font-size: 2rem;
			font-weight: bold;
		}

		.icon {
			font-size: 2rem;
		}
	}
}
