// Primary colors
$primary-background: #0e1c26;
$secondary-color: #13232c;
$third-color: #172a32;
$fourth-color: #1c3139;
$fifth-color: #21373f;
$sixth-color: #253e45;
$seventh-color: #2a454b;

// Secondary colors
$smooth-blue: #3c6fba;
$smooth-green: #14a985;
$smooth-red: #cb5624;
$black: #000;
$disabled-color: #fffbfbc6;

// Fonts
$main-text-color: #f4f4f4;
$secondary-text-color: #9c9c9c;
$primary-font: 'Inter', sans-serif;
$secondary-font: 'Karla', sans-serif;

// Breakpoints
$mobile-breakpoint: 576px;
