// Primary colors
$primary-background: #0E1C26;
$secondary-color: #13232C;
$third-color: #172A32;
$fourth-color: #1C3139;
$fifth-color: #21373F;
$sixth-color: #253E45;
$seventh-color: #2A454B;

// Secondary colors
$smooth-blue: #3C6FBA;
$smooth-green: #14A985;
$smooth-red: #CB5624;

// Fonts
$main-text-color: #F4F4F4;
$primary-font: 'Inter', sans-serif;
$secondary-font: 'Karla', sans-serif;

// Breakpoints
$mobile-breakpoint: 576px;