@use './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: variables.$primary-font;
    font-weight: normal;
    font-size: 1rem;
    color: variables.$main-text-color;
}

body {
    background: variables.$primary-background;
}

ul {
    list-style: none;
}

button {
    background: transparent;
    border: none;
}

main {
    min-height: 100vh;
    padding: 0 2rem;
}

button {
    cursor: pointer;
    background: transparent;
    border: none;
}

.primary-button {
    background: variables.$main-text-color;
    border: 1px solid transparent;
    color: variables.$primary-background;
    border-radius: 5px;
    cursor: pointer;
    
    font-weight: 700;
    font-size: 1.05rem;

    padding: .7rem 3rem;
    transition: background .1s linear;

    &:hover {
        background: variables.$primary-background;
        border: 1px solid variables.$main-text-color;
        color: variables.$main-text-color;
    }
}

.default-button {
    background: variables.$primary-background;
    color: variables.$main-text-color;
    font-weight: bold;
    border-radius: 5px;
    padding: .8rem 1.4rem;
}

section {
    h2 {
        font-size: 2.25rem;
        font-weight: 800;
        padding: 1.2rem 0;
    }
}