@use 'assets/sass/variables';

.list-of-days {
    ol {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        li {
            margin: 1rem;

            display: flex;
            align-items: center;

            input {
                width: 1.2rem;
                height: 1.2rem;
            }

            label {
                font-size: 1rem;
            }
        }
    }
}