@use 'src/global/_variables.scss';

.tabs {
	height: fit-content;

	ul {
		padding: 1rem;
		display: flex;
		justify-content: flex-end;
		gap: 1rem;

		li {
			a {
				font-size: 1.5rem;
			}
		}
	}
}
