@use 'src/global/animations.scss';

.preload {
	.video {
		@include animations.preload();
		height: 80vh;
	}

	.hotbar {
		margin: 0.6rem 0 0 0;

		.episode-info-container {
			.info {
				div {
					@include animations.preload();
					width: 90%;
					height: 2rem;
				}
			}

			.main-actions {
				.creator-info {
					width: 15rem;

					.user-img {
						@include animations.preload();
						border-radius: 50%;
						aspect-ratio: 1/1;
						width: 2.2rem;
						height: 2.2rem;
						overflow: hidden;
					}

					.user-name {
						@include animations.preload();
						border-radius: 20px;
						width: 80%;
						height: 1.5rem;
					}
				}

				.right {
					.action-button.like {
						padding: 0.5rem 1.2rem;

						.quantity {
							@include animations.preload();
							height: 1.2rem;
							width: 2.5rem;
						}
					}
				}
			}

			.comments-section {
				width: 100%;
				.comments {
					width: 100%;

					.comment article {
						width: 100%;
						padding: 2rem 0;
						display: grid;
						gap: 1rem;

						header {
							.user-img {
								@include animations.preload();
								border-radius: 50%;
								aspect-ratio: 1/1;
								width: 2.2rem;
								height: 2.2rem;
							}

							.creator,
							.time-ago {
								@include animations.preload();
								width: 10rem;
								height: 1.2rem;
							}

							.time-ago {
								width: 8rem;
							}
						}

						.content {
							@include animations.preload();
							border-radius: 20px;
							width: 100%;
							height: 8rem;
						}
					}
				}
			}
		}
	}

	.episodes-section {
		width: 100%;

		ul {
			width: 100%;

			.episode-item .episode {
				width: 100%;
				display: flex;
				gap: 0.5rem;

				.miniature-cont {
					@include animations.preload();
					aspect-ratio: 16/9;
					width: 10rem;
					height: 100%;
				}

				.info-container {
					width: 60%;
					display: grid;
					gap: 0.2rem;

					.title {
						@include animations.preload();
						width: 100%;
						height: 1.5rem;
					}

					.creator,
					.views {
						@include animations.preload();
						width: 80%;
						height: 1.2rem;
					}

					.views {
						width: 60%;
					}
				}
			}
		}
	}
}
