.main-actions {
    height: 2.6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .right {
        height: 2.6rem;

        display: flex;
        align-items: center;
        gap: 0.8rem;
    }
}
