.sign-up-header {
    .logo-container {
        margin: 0 0 1rem 0;

        h1 {
            font-weight: bold;
            font-size: 1.2rem;
        }
    }

    p {
        font-weight: 600;
        margin: 1rem 0;
    }
}