@use 'src/global/_variables.scss';

.first-episode-section {
    .video-error {
        background-color: variables.$black;
        height: 80vh;

        padding: 2rem;

        display: flex;
        align-items: center;
        justify-content: center;

        .loading-icon.lds-dual-ring:after {
            width: 50px;
            height: 50px;
        }

        .message {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .content-container {
                width: 55%;

                h2 {
                    font-family: variables.$secondary-font;
                    font-size: 3.5rem;
                    padding: 0;
                    text-align: center;
                }

                p {
                    font-weight: bold;
                    margin: 1rem 0;
                }

                button {
                    width: 100%;

                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .video-container {
        background: variables.$black;

        width: 100%;
        height: 80vh;
        
        position: relative;
        overflow: hidden;

        &:hover {
            .controls,
            .play-btn {
                opacity: 1;
            }
        }

        .play-btn, .controls {
            transition: all .1s linear;
        }

        .play-btn {
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            top: 0;

            opacity: 0;

            .icon {
                font-size: 5rem;
            }
        }

        .video {
            width: 100%;
            height: 100%;
        }


        .controls {
            background: rgba(0, 0, 0, 0.633);
            -webkit-box-shadow: -2px 39px 76px 75px rgba(0, 0, 0, 0.755);
            -moz-box-shadow: -2px 39px 76px 75px rgba(0,0,0,0.755);
            box-shadow: -2px 39px 76px 75px rgba(0, 0, 0, 0.755);
            
            width: 100%;
            padding: 1rem 1rem 0 1rem;

            position: absolute;
            bottom: 0;

            opacity: 0;

            .play-btn {
                position: relative;
                top: unset;
                left: unset;

                width: unset;
                height: unset;

                .icon {
                    font-size: 1.8rem;
                }
            }

            .sub-controls {
                padding: .2rem 0 .8rem 0;

                display: flex;
                align-items: center;
                gap: .5rem;
            }

            .volume-bar {
                width: -moz-fit-content;
                width: fit-content;

                display: flex;
                align-items: center;

                input {
                    cursor: pointer;
                    width: 4rem;
                    height: 2px;

                    &::-webkit-slider-runnable-track {
                        background: variables.$main-text-color;
                        width: 100%;
                        height: 2px;
                    }

                    &::-webkit-slider-thumb {
                        background: variables.$main-text-color;
                        border-radius: 50%;

                        width: 12px;
                            height: 12px;

                        transition: all .1s linear;

                        position: relative;
                        top: -.25rem;
                    }
                }

                button {
                    display: flex;
                    align-items: center;

                    .icon {
                        font-size: 1.5rem;
                        margin: 0 .5rem 0 0;
                    }
                }
            }

            .duration-controller {
                width: 100%;

                display: grid;
                grid-template-columns: 92% 10%;
                gap: 1rem;
            }
        }
    }
}