.list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 21rem);
    grid-template-rows: repeat(auto-fit, 11.5rem);
    justify-content: center;
    gap: 2rem;
}

@media (max-width: 1496px) {
    .list {
        grid-template-columns: repeat(auto-fit, 22rem);
    }
}