@use 'assets/sass/variables';

.body {
    min-height: 100vh;

    .section-container {
        display: flex;
    }

    .page {
        .title-decoration {
            border: 1px solid variables.$Text;

            height: 15vh;
            min-height: 6rem;

            margin: 0 0 1.2rem 0;

            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;
        }

        .create-button {
            font-size: 1.2rem;
            font-weight: 500;
        
            padding: .8rem 2.5rem;
            margin: 2rem 1.8rem 1rem 1.8rem;
        }

        section {
            margin: 0 0 1rem 0;

            .items-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
        
            }
        }
    }

    .modal-container {
        .modal-window {
            article {
                background: variables.$Background;
                border: 2px solid variables.$Text;
                border-radius: .2rem;

                width: 20%;
                min-width: fit-content;

                padding: 1.4rem;
                overflow-y: scroll;

                h1 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1.5rem;
                    margin: 0 0 .5rem 0;
                }

                .action-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    button {
                        font-size: 1.4rem;
                        width: 48%;
                        padding: .5rem 0;
                        
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .page {
        .title-decoration {
            .ilustration {
                display: none;
            }
        }
    }
}

@media (max-width: 500px) {
    .page {
        .title-decoration {
            h2 {
                font-size: 2rem;
            }
        }
    }
}