@use 'src/global/_variables.scss';

.edit-course-form {
	.validation-input {
		margin: 1.5rem 0;
		width: 100%;
	}

	.description {
		height: 12rem;

		textarea {
			height: 100%;
		}
	}

	.actions-container {
		display: flex;
		justify-content: flex-end;
	}
}
