@use 'assets/sass/variables';

.user-item {
    .card {
        background: variables.$White;
        border: 1px solid variables.$Text;
        border-radius: .2rem;

        width: 20rem;
        min-width: fit-content;
        height: 8.5rem;

        padding: .5rem 1.5rem;
        margin: 1rem .1rem;

        .basic-info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                font-size: 1.8rem;
                text-overflow: ellipsis;
                
                overflow: hidden;
                -webkit-line-clamp: 1;
                display: -webkit-box;
                -webkit-box-orient: vertical;
            }

            span {
                font-size: 1.5rem;
            }

            .me-indicator {
                background: variables.$Light-Green;
                border-radius: 50%;

                width: 1rem;
                height: 1rem;
            }
        }

        p {
            font-size: 1rem;
            text-overflow: ellipsis;

            overflow: hidden;
            -webkit-line-clamp: 1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }

        .admin-action-container {
            width: 100%;
            margin: 1rem 0 0 0;

            display: flex;
            justify-content: flex-end;
            align-items: center;

            .button {
                margin: 0 0 0 .5rem;
            }

            .delete-button {
                padding: .5rem;
            }
        }
    }
}