.card-item {
    .card.new-course {
        display: flex;
        justify-content: center;
        align-items: center;

        .create-course-button {
            font-size: 2.5rem;
            font-weight: bold;
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}