.card-item {
    .card.new-course {
        display: flex;
        justify-content: center;
        align-items: center;

        .create-course-button {
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
                font-size: 2.5rem;
                font-weight: bold;
                transition: all .2s linear;
            }

            &:hover {
                .icon {
                    transform: scale(1.2);
                }
            }

            &:active {
                .icon {
                    transform: scale(1);
                }
            }
        }
    }
}