@use 'src/global/_variables.scss';

.sign-up-page {
    display: flex;
    justify-content: center;

    .modal {
        margin: 1.5rem 0;

        .sign-up-header {
            margin: 0 0 2rem 0;
        }
    }
}