.card-item {
    .card {
        background: linear-gradient(217.3deg, #0E1C26 21.5%, #172A32 88.87%);
        box-shadow: 8px 8px 5px #00000026;
        border-radius: 15px;
        width: 20rem;
        height: 12.5rem;
    }
}