// Primary Colors
$Background: #E6E6E6;
$Darker-Background: #D8DBDD;
$Text: #2B2839;
$Light-Gray: #bebebe;

// Details
$Detailed-Red: #ff0000;

// Defaults
$White: #FFF;

// Secondary Colors
$Light-Blue: #61b3e2;
$Light-Red: #dd6f6f;
$Light-Green: #71df67;
$Light-White: #e2e0e0;