@use 'src/global/_variables.scss';

.creator-info {
    background: variables.$third-color;
    border-radius: 40px;

    width: -moz-fit-content;
    width: fit-content;

    height: 3rem;
    padding: 1rem 0.7rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    img {
        aspect-ratio: 1/1;
        width: 2.2rem;
        height: 2.2rem;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: bolder;
    }
}
